<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <root>
    <level value="ALL" />
    <appender-ref ref="LogFileAppender" />
    <appender-ref ref="ListAppender" />
  </root>
  <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="logMessages.log"/>
    <AppendToFile value="false"/>
    <RollingStyle value="Size"/>
    <maxSizeRollBackups value="3"/>
    <maximumFileSize value="1024KB"/>
    <layout type="log4net.Layout.PatternLayout">
      <header value="Position Interface Client Log Messages - info@commonplacerobotics.de"/>
      <footer value="Position Interface Client Log Messages - info@commonplacerobotics.de"/>
      <conversionPattern value="%newline%date [%thread] %-5level %logger - %message"/>
    </layout>
  </appender>
  <appender name="ListAppender" type="PositionInterfaceClient.UserInterface.LogAppender">
  </appender>
</log4net>
